.accordion-ans{
    
    font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 150%;
width: 634px;


color: #0B132B;
}
.blue-box5435{
    width: 780px;
    height: 8px;
    background: #2E59F3;
}
.accordian-boxr7476t65{
    margin-bottom: 26px;
}
.item-question645{
    font-family: Monument Extended;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 122.5%;
/* identical to box height, or 22px */


color: #0B132B;
}