
.card{
    display: flex;
    margin-left: 230px;
     width: 100%;
     margin-bottom: 145px;

    
}

.card-container{
    width: 300px;
    overflow: hidden;
    margin-right: 14px;
    /* margin-bottom: 70px; */
    transition: 0.3s;
    animation: ease-in;
    background-color: #F6F6F6;
    height: 164px;
    
    
}
.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;

}
.For-NonProfit-Image{
    width: 22px;
    height: 22px;
}
.card-titler6536>h4{
    font-family: Monument Extended;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 125%;
    /* identical to box height, or 17px */
    
    letter-spacing: 0.05em;
    
    color: #2E59F3;
}
.card-body-15646>p{
    font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 125%;
margin-top: 24px;

letter-spacing: 0.05em;

color: #0B132B;
}
.card-content-16457{
    padding: 20px 18px 30px 18px;
}









