
.about-blocks3{
    display: flex;
    margin-left: 230px;
    margin-top: 112px;
    margin-bottom: 86px;
}   
.block3{
    display: flex;
    /* width: 1000px; */
    justify-content: space-between;
    
    margin-left: 0px;
}
.block1-info3{
    width: 480px;
    margin-right: 87px;

}
.block1-tagline-1--,.block1-tagline-2--{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 122.5%;
/* or 29px */


color: #0B132B;
}


.block1-para464{
    font-family: Gilroy;
    width: 480px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    margin-top: 36px;
    
    
    color: #0B132B;
}

.block1-img{
    width: 342px;
    height: 328px;
    

}


  


